// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.feature_request {
  display: block;
  padding: 2%;
  min-height: 2em;
}

.customer, .feature-requests, .edit-delete {
  display: block;
}

.customer {
  display: block;
  padding: 3% 0 5% 0;
  min-height: 15vh;
}
*/