<div class='col-md-8 col-md-offset-2'>
  <div class='row'>
    <div class='header'>
      Feature Requests
    </div>
  </div>
  <div class='row'>
    <div class='card'>
      <% @feature_requests.each do |feature_request| %>
        <div class='row feature-request'>
          <div class='col-md-8'>
            <% if feature_request.status === 'New' %>
              <span class='label label-danger'>New</span>
            <% elsif feature_request.status === 'In Progress' %>
              <span class='label label-warning'>In Progress</span>
            <% else feature_request.status === 'Completed' %>
              <span class='label label-success'>Complete</span>
            <% end %>
            <strong><%= link_to feature_request.name, 
                customer_feature_request_path(feature_request.customer,feature_request) %></strong>:
            <%= link_to feature_request.customer.name, 
                customer_path(feature_request.customer) %>
          </div>
          <div class='col-md-4 text-right'>
            <%= link_to feature_request.request_contact.full_name,
                customer_contact_path(feature_request.customer,feature_request.request_contact) %>
          </div>
        </div>
        <% if !(feature_request === @feature_requests.last) %>
          <div class='border-line'></div>
        <% end %>
      <% end %>
      <div class='row'>
        <a href='#' data-toggle='modal' data-target='#fr-modal' class='button button-fr'>New Feature Request</a>
      </div>
    </div>
  </div>
</div>